// Specific CSS for your home-page
h1 {
  font-family: $bebas;
  color: $bv-hangar;
  font-size: 4em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4{
 font-size: 1.5em;
}

p {
  font-size: 1em;
}

b {
  background-color: white;
}

.left, .right {
  h2 {
    font-family:$bebas;
    color: $bv-hangar;
  }
}

.algolia-autocomplete {
  width: 100%;
}
.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
  width: 100%;
}
.algolia-autocomplete .aa-hint {
  color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
  width: 100%;
  background-color: #fff;
  border: 1px solid #999;
  border-top: none;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 5px 4px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #B2D7FF;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}
