// Import page-specific CSS files here.
@import "home";

.up-fix-bar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.up-fix-bar #map {
  height: 100vh;
  position: sticky;
  top: 0;
}

.up-fix-bar h2{
  width: 100%;
}
