<div class="banner-index" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://source.unsplash.com/oXOIH4UAixo/1300x780);">
  <div class="container">
    <h1 class="white">All <br> bars </h1>
  </div>
</div>


<div class="container">
    <h1 class="t">Search for a bar nearby</h1>
        <div
      id="map"
      style="width: 100%;
      height: 400px; margin: 10px auto; box-shadow: 0 0 10px rgba(0,0,0,0.2);"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>

  <br><h1 class="t">All bars</h1>
  <div class="row">
    <% @bars.each do |bar| %>
      <div class="col-xs-10 col-sm-6 col-md-4">
        <% if !bar.pictures.empty? %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('<%= bar.pictures[0].photo %>');">
          <%= link_to bar.name.upcase , bar_path(bar), class:"bw-border-tbg bar" %>
          </div>
        <%end%>
      </div>
    <%end%>
  </div><br>


</div>


