<div class="footer">
  <div class="footer-copyright">
    Follow us on social medias
  </div>
  <div class="footer-links">
    <a href="https://www.instagram.com/kabosumama/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/VeryDoge/"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/wowsuchdoge?lang=fr"><i class="fab fa-twitter"></i></a>
  </div>
</div>
