  <div class="banner-bar" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @event.photo, :width => 1200, :height => 400, crop: :fill, class:"d-block w-100"%>');">
    <div class="container">
      <h1><%= @event[:name]%> </h1>
    </div>
  </div>

