<br><br><br><br><br><div class="container">
  <% if current_user == @event.bar.user %>
    <h1><%= "EDIT #{@event.name}" %></h1>
    <div class="card-login">
    <%= render 'form' %>
  <% end %>
    </div>
</div>

