<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Indicators-->
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
            <div class="view">
              <img class="d-block w-100 img-fluid" src="https://source.unsplash.com/kMRMcUcO81M/1300x780/" alt="First slide">
              <div class="mask rgba-black-strong"></div>
              <div class="carousel-caption">
                  <class class="hero">
                    <h3>B A R T </h3>
                      <h2>Connecting locals, </h2>
                      <h2>Creating experiences ✨</h2>
                      <br><h4><%= link_to "Get started", new_profile_path, class: "bw-border-tbg" %></h4>
                    </class>
              </div>
            </div>
          </div>
        <div class="carousel-item">
            <div class="view">
              <img class="d-block w-100 img-fluid" src="https://source.unsplash.com/QfAX7_xjxm4/1300x780/" alt="Second slide">
              <div class="mask rgba-black-strong"></div>
               <div class="carousel-caption">
                  <class class="hero">
                      <h3>Promoting  c u l t u r e</h3>
                      <h2>Give emerging artists the opportunity to showcase their work</h2>
                      <br><h4><%= link_to "Discover our Artists", profiles_path, class: "bw-border-tbg" %></h4>
                    </class>

              </div>
            </div>
        </div>
        <div class="carousel-item">
            <!--Mask color-->
            <div class="view">
                <img class="d-block w-100 img-fluid" src="https://source.unsplash.com/Zrp9b3PMIy8/1300x780/" alt="Third slide">
                <div class="mask rgba-black-strong"></div>
                <div class="carousel-caption">
                  <class class="hero">
                      <h3>J o i n</h3>
                      <h3> our </h3>
                      <h3>community !</h3>
                      <h2>A network made to promote culture, empower local businesses & artists, craft original experiences.</h2>
                      <br><h4><%= link_to "Get started", new_profile_path, class: "bw-border-tbg" %></h4>
                    </class>
              </div>
            </div>
        </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->
