<%= render 'home-banner'%>

<div class="container">
  <div class="row">
    <% @events.each do |event| %>
      <div class="col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= event.photo %>');">
          <div class="background-transparant">

                <p><%= link_to "Preview event", preview_event_path(event), class: "button" %></p>
          </div>
          <%= link_to "+", event_path(event), method: :delete, data: { confirm: "Are you sure?" }, class: "card-remove-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>






