<h1>YOUR MESSAGES</h1>
<% @chatboxes.each_with_index do |chatbox, i| %>
  <%= chatbox[:sender] == current_user ? chatbox[:sender].profile.username : chatbox[:recipient].profile.username %>
  <%= @last_msgs[i][:content] %>
<% end %>
