<div class="container">
  <h1>YOUR MESSAGES</h1>
  <% @chatboxes.each do |hash| %>

    <%# if !@last_msgs_content[i].nil? %>
      <p>CONVO WITH: <%= hash[:partners_name ] %></p>
      <p>LAST MSG: <%= hash[:last_msgs_content] %></p>
      <p>from: <%= hash[:last_msgs_username] %></p>
      <%= link_to "Read previous", chatbox_path(hash[:id]) %>
    <%# end %>
  <% end %>
</div>
