

.fixed {
  display:block;
  opacity:1;
  position: fixed;
  left: 0px;
  bottom: 80px;
  animation-delay: 10s;
  animation-duration: 8s;
  animation-name: fadeaway;
  animation-fill-mode: forwards;
  z-index: 1000;
}

@keyframes fadeaway {
  from {
    left: 0px;
  }

  to {
    left: -150px;
  }
}
