

.fixed {
  display:block;
  opacity:1;
  position: fixed;
  left: 0px;
  bottom: 80px;
  animation-delay: 0s;
  animation-duration: 8s;
  animation-name: fadeaway;
  animation-fill-mode: forwards;
}

@keyframes fadeaway {
  from {
    left: 0px;
    opaity: 1;
  }

  to {
    left: -300px;
    opaity: 0;

  }
}
