.banner-bar {
  height: 40vh;
  padding: 150px 0;
  display: flex;
  align-items: center;
  margin-top: 0px !important;
}

.h3-responsive {
  font-family: $bebas;
  font-size: 13em;
  text-align: left;
  position: absolute;
  top: -380px;
  left: -150px;
  color: white;
}
