.banner-bar {
  background: no-repeat;
  background-size:cover;
  height: 700px;
  padding: 150px 0;
  display: flex;
  align-items: center;
  margin-top: 0px !important;
  h1  {
  font-family: $bebas;
  font-size: 13em;
  text-align: left;
  color: white;
  }
  h3, a {
  color: white;
  text-align: left;
  }
  .content {
    position: absolute;
    top: 200px;
    left: 40px;
  }
}


#carousel-example-2 {
  height: 700px;
}

.banner-index {
  background: no-repeat;
  background-size:cover;
  height: 700px;
  padding: 150px 0;
  display: flex;
  align-items: center;
  margin-top: 0px !important;
  h1  {
  font-family: $bebas;
  font-size: 13em;
  text-align: left;
  position: absolute;
  left: 80px;
  top: 250px;
  color: white;
  }
  h3, a {
  color: white;
  text-align: left;
  position: absolute;
  left: 40px;
  }
}

.h3-responsive {
  font-family: $bebas;
  font-size: 13em;
  text-align: left;
  position: absolute;
  top: -600px;
  left: -150px;
  color: white;
}


.bt-ban {
  position: absolute;
  top: 400px;
}


.banner-event {
  background: no-repeat;
  background-size:cover;
  height: 700px;
  padding: 150px 0;
  display: flex;
  align-items: center;
  margin-top: 0px !important;
  h1  {
  font-family: $bebas;
  font-size: 10em;
  text-align: left;
  position: absolute;
  top: 220px;
  left: 40px;
  color: white;
  }
  .e-date {
  color: white;
  text-align: left;
  position: absolute;
  left: 100px;
  top: 380px;
  }
}
