.b-border-whitebg {
  color: $indigo ;
  padding: 5px 15px;
  border-radius: 5px;
  background:$white ;
  border: 1px solid $bv-hangar;
  box-shadow: 0 0 3px $bv-hangar;
  text-align: center;
  letter-spacing: 2px;
}
.b-border-whitebg:hover {
  opacity: 1;
  text-decoration: none;
  background: $indigo;
  color: white;
}

.b-border-tbg {
  color: $bv-hangar ;
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid $bv-hangar;
  box-shadow: 0 0 3px $bv-hangar;
  text-align: center;
  letter-spacing: 2px;
}
.b-border-tbg:hover {
  opacity: 0.8;
  text-decoration: none;
  background: $bv-hangar;
  color: white;
}

.bw-border-tbg {
  color: white ;
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid white;
  box-shadow: 0 0 3px white;
  text-align: center;
  background: transparent;
  letter-spacing: 2px;
}
.bw-border-tbg:hover {
  opacity: 0.9;
  text-decoration: none;
  box-shadow: 4 4 10px white;
  background: white;
  color: $gray;
  font-weight: bold;
}


.b-allwidth-lg {
  padding: 2%;
  width: 100%;
  margin: 20px 0px;
  color: $bv-hangar ;
  border-radius: 5px;
  border: 1px solid $bv-hangar;
  box-shadow: 0 0 3px $bv-hangar;
  text-align: center;
  letter-spacing: 2px;
}
.b-allwidth-lg:hover {
  text-decoration: none;
  background: $bv-hangar;
  color: $white;
  font-weight: bold;
}
.fullspace {
  display: grid;
  grid-template-columns: 1fr;
}

.button {
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid white;
  box-shadow: 0 0 3px white;
  text-align: center;
  background: transparent;
  letter-spacing: 2px;
  opacity: 1;
  transition: opacity .35s ease;
}

.button:hover {
  color: $gray;
  background: white;
  text-decoration: none;
  font-weight: bold;
}

.bdash {
  color: white;
  padding: 5px 15px;
  text-align: center;
  letter-spacing: 2px;
  opacity: 1;
  transition: opacity .35s ease;
  &:hover {
    border-bottom: 2px solid white;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }
}


button .b-border-whitebg .fullspace {
  width: 100%;
}

h6 {
  font-style: 5em;
  color: white;
}
