.cards-grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2%;
  margin: 10px auto;
}

.cards-grid-photos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1%;
}
.no {
  position:relative;
  top: -20px;
  left: 5px;
}

.cards-grid-3quarter {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 2%;
  margin: 10px auto;
}

.card-img-v {
  background-color: white;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  color: $gray;
  img {
    width: 100%;
    height: auto;
  }
}


.card-hz-bg{
  background-color:white;
  height: 300px;
  display: flex;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  align-items: center;
  margin: 10px auto;
  img {
    height: 100%;
    width: auto;
  }
  .left-description {
    line-height: 90%;
    h2 , i {
      color: $gray;
    }
  }
}

.card-hz-s{
  background-color:white;
  height: 100px;
  display: flex;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  align-items: center;
  margin: 10px auto;
  img {
    height: 100%;
    width: auto;
  }
  .left-description {
    line-height: 90%;
    h2 , i {
      color: $gray;
    }
  }
}

.card-profile{
  background-color:white;
  height: 250px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 10px auto;
  img {
    height: 100%;
    width: auto;
  }
  .left-description {
    line-height: 90%;
    h2 , i {
      color: $gray;
    }
  }
}

.card-profile-s{
  background-color:white;
  height: 200px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 10px auto;
  img {
    height: 100%;
    width: auto;
  }
  .left-description {
    line-height: 90%;
    h2 , i {
      color: $bv-hangar;
    }
  }
}

.left-description {
  text-align: left;
  margin: 10px;
  line-height: 0.7;
  padding: 10px;
  overflow: scroll;
  line-height: 97%;
}

.card-login {
  background-size: cover;
  background-position: center;
  background-color: white;
  width: 60%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  color: $gray;
  margin: 10px auto;
  padding: 20px;
  overflow:scroll;
  h2, .form-inputs {
    color: $bv-hangar;
  }
}

.card {
  height: 275px;
  background-size: cover !important;
  background-position: center;
  position: relative;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.layer {
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0);
  transition: background 0.5s ease;
  text-align: center;
}

.card:hover .layer {
  display: block;
  background: rgba(255, 255, 255, .3);
}

.card:hover .button {
  opacity: 1;
}

.card-remove-link {
  color: #ffffff;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  transform: rotate(45deg);
  opacity: 0.8;
  &:hover {
    color: white;
    text-decoration: none;
    opacity: 1;
  }
}

.card-tags {
  position: absolute;
  padding: 8px;
  top: 10px;
  opacity: 1;
}

.button {
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid white;
  box-shadow: 0 0 3px white;
  text-align: center;
  background: transparent;
  letter-spacing: 2px;
  opacity: 1;
  transition: opacity .35s ease;
}

.button:hover {
  color: black;
  background: white;
}

.title {
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  color: white;
  transition: top .5s ease;
}

.links_artist_bar {
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.links_artist_bar h3 {
  font-weight: 700;
  text-transform: uppercase;
}





