
.modal-body {
  p {
    line-height: 70%
  }
  label {
    color:white !important;
  }
}

.modal-title {
  font-family: $bebas;
  color: white !important;
}

.modal-title-preview {
  font-family: $bebas;
  color: $bv-hangar !important;
}


